@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* * {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
} */

.table_responsive {
    max-width: 900px;
    border: 1px solid #3ea175;
    background-color: #efefef33;
    padding: 15px;
    overflow: auto;
    margin: auto;
    border-radius: 4px;
}

table {
    width: 100%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
}

table>thead {
    background-color: #3ea175;
    color: #fff;
}

table>thead th {
    padding: 15px;
}

table th,
table td {
    border: 1px solid #00000017;
    padding: 10px 15px;
}

table>tbody>tr>td>img {
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
}


.action_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action_btn .eye > i {
    text-decoration: none;
    border: 1px solid;
    display: inline-block;
    color: lightseagreen; 
    background-color: #fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.action_btn .eye > i:active {
    color:#fff; 
    background-color: lightseagreen;
}
.action_btn .trash > i {
    text-decoration: none;
    border: 1px solid;
    display: inline-block;
    color: red; 
    background-color: #fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.action_btn .trash > i:active {
    color:#fff; 
    background-color: red;
}
table>tbody>tr {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}


table>tbody>tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
    filter: drop-shadow(0px 2px 6px #3ea175);
}